alias ..="cd .."
alias ...="cd ../.."

alias lsa="ls -la ${colorflag}"

alias g="git"
alias gs="git status"
alias gc="git commit -m "
alias gp="git pull"
alias gpp="git pp"
alias gfp="git fp"
alias gf="git fetch -p"
alias gfp="git fp"
alias ts="tig status"

# customize the prompt
PS1="\e[0;32m[\\w]$\e[m "

